.SearchContainer{
    position:absolute;
}

@media screen and (max-width: 1400px){
    .SearchContainer{
        position: relative;
        left: 0px;
        width: auto;
    }
}

.inputBlock {
    position: relative;
}


.inputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.textInputField::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    overflow: visible;
}

.iconLeft{
    background: url("../images/inputImage.svg") no-repeat center left;
    position: absolute;
    width: 20px;
    height: 19px;
    z-index: 1;
    margin: 15px 6px 14px 10px;
    
}

.textInputField[type='text']{
    background-color: #EEEEEE;
    padding-left:36px;
    padding-right: 30px;
    background-position: 10px center;

    position: relative;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px; 

    background-color: #EEEEEE;

    border: none;
    outline: none;
    border-radius: 12px;

    padding: 14.5px 0;
    padding-left: 36px;
    padding-right: clamp(43px , 12vw, 195px);
    margin-right: 8px;
    cursor: pointer;


    width: 189px;
    height: 19px;

    display: flex;
    display: inline-block;

    flex-direction: row;
    align-items: center;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.inputBlock::after{
    content: url('../images/deletebuttoninput.svg');
    display: none;

    position: absolute;
    z-index: 33;
    width: 19px;
    height: 19px;
    top: 16px;
    right: 19px;
}   

.inputBlock:hover::after{
    display: inline-block;
}

.textInputField:hover {
    background-color: #E6E6E6;
    transition: 0.2s;

}


.getFetch {
    background-color: #EB0C0C;
    width: 82px;
    height: 48px;
    padding: 14px 16px;
    border-radius: 12px;
    border: none;
    cursor: pointer;

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;

}

.getFetch:hover{
    background-color: #C30000;
    outline: none;
    transition: 0.2s;
}

.getFetch:active {
    background-color: #C30000;
    outline: none;
}

.noResult{
    margin-top: 40px;
}

.noResult p{
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #787878;
    margin: 0;
}